<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Place to visit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="https://travel.usnews.com/dims4/USNEWS/0c0c2f0/2147483647/resize/637x426%3E/quality/85/?url=/static-travel/images/destinations/304/parque_do_ibirapuera.jpg">
      </ion-thumbnail>
      <h2>Parque do Ibirapuera</h2>
    </ion-item>

  </ion-list>
</ion-content>
