<ion-header>
  <ion-navbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card (click)="gosub()">
    <img src="http://www.apidev.muchomil.com/hotelmanager/public/images/test/card-saopaolo.png"/>
    <div class="card-title">São Paulo</div>
    <div class="card-subtitle">41 Likes</div>
  </ion-card>

</ion-content>
